body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    
    
}
.nav, .nav2, .nav3, .nav-about {
    background-color: #191B1D;
    padding: 20px;
    position: fixed;
    top: 40px;
    left: -200px;
    width: 200px;
    overflow-y: auto;
    transition: left 0.3s ease;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
    color: #FF4C4C;
    background-image: url('../img/nav.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: top;
    
}

.nav::before, .nav2::before, .nav3::before, .nav-about::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 15px;
  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-right: 10px;
    color: #FF4C4C;
}

.nav.open, .nav2.open, .nav3.open, .nav-about.open {
    height: calc(100vh - 120px);
    top: 40px;
    color: #FF4C4C;
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    /* Header, Main Content, Footer */
    min-height: 100vh;
    color: #FF4C4C;
    background-color: #2E2F31;
    
}


.header {
    grid-area: header;
    background-color: #202122;
    /* Opera GX extra dark background */
    color: #FF4C4C;
    padding: 10px;
    height: 50px;
   
}

.main {
    grid-area: main;
    padding: 20px;
    background-color: #2a292e;
    /* Opera GX dark background */
    color: #FF4C4C;
    
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-position: top;

    /* Opera's signature red text color */
}

.footer {
    grid-area: footer;
    background-color: #202122;
    /* Opera GX extra dark background */
    color: #FF4C4C;
    padding: 10px;
    height: 50px;
}

@media only screen and (max-width: 767px) {
    .grid-container {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: auto 1fr auto;
        /* Header, Main Content, Footer */
        min-height: 100vh;
        color: #FF4C4C;
    }



    .header {
        grid-area: header;
        background-color: #202122;
        /* Opera GX extra dark background */
        color: #FF4C4C;
        padding: 10px;
        height: 50px;
    }

    .main {
        grid-area: main;
        padding: 20px;
       
        /* Opera GX dark background */
        color: #FF4C4C;
        /* Opera's signature red text color */
    
        background-color: #2E2F31;
    }

    .footer {
        grid-area: footer;
        background-color: #202122;
        /* Opera GX extra dark background */
        color: #FF4C4C;
        padding: 10px;
        height: 50px;
    }
}







.grid-container2 {
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav main main main"
        "footer footer footer footer";
    grid-template-rows: auto 1fr auto;
    /* Header, Main Content, Footer */
    min-height: 100vh;
    color: #FF4C4C;
    background-color: #2E2F31;
 
   


}

/* Adjusted CSS for Main Content */
.main2 {
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto); /* Three rows */
    grid-gap: 20px;
    justify-items: center;
    /* Centering the cards horizontally */
    color: #FF4C4C;
    
    background-color: #2E2F31;
    background-image: url('../img/backroundtest.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

/* Adjusted CSS for Cards */
.card {
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    width: 100px;
    /* Adjust width as needed */
    height: 100px;
    /* Ensure square dimensions */
    color: #FF4C4C;
    border: 1px solid #FF4C4C;
    /* Red border */
    font-size: smaller;
}
.card img {
    max-width: 100%; /* Ensure the image doesn't exceed the card width */
    max-height: 100%; /* Ensure the image doesn't exceed the card height */
    display: block; /* Remove any default spacing */
    margin: auto; /* Center the image horizontally */
}

.header2 {
    grid-area: header;
    background-color: #202122;

    padding: 10px;

    height: 50px;
    color: #FF4C4C;
}



.footer2 {
    grid-area: footer;
    background-color: #202122;

    padding: 10px;

    height: 50px;
    color: #FF4C4C;
}

@media only screen and (max-width: 767px) {
    .grid-container2 {
        grid-template-columns: repeat(3, 1fr); /* Three columns for mobile */
       
    }

    .main2 {
        grid-template-columns: repeat(2, 1fr); /* Two columns for mobile */
        grid-template-rows: repeat(6,auto); /* Six rows for mobile */
    }
    
}



.grid-container3 {
    display: grid;
    grid-template-areas:
        "header header header header"
        "nav main main main"
        "footer footer footer footer";
    grid-template-rows: auto 1fr auto;
    /* Header, Main Content, Footer */
    min-height: 100vh;
    background-color: #2E2F31;
}

/* Adjusted CSS for Main Content */
.main3 {
    grid-area: main;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    justify-items: center;
    /* Centering the cards horizontally */
    color: #FF4C4C;
    background-color: #2E2F31;
}





.header3 {
    grid-area: header;
    color: #FF4C4C;
    padding: 10px;
    background-color: #202122;
    height: 50px;
}



.footer3 {
    grid-area: footer;
    color: #FF4C4C;
    padding: 10px;
    background-color: #202122;
    height: 50px;
}



.rekomendation {
    background-color: #191B1D;

    padding: 20px;
    position: fixed;
    top: 100px;
    /* Adjust as needed */
    left: -200px;
    /* Hide the box by default */
    width: 200px;
    overflow-y: auto;
    /* Adding scrollbar if content overflows */
    transition: left 0.3s ease;
    /* Smooth transition for opening and closing */
    border-top-right-radius: 20px;
    /* Rounded corners for the top right */
    border-bottom-right-radius: 20px;
    /* Rounded corners for the bottom right */
    cursor: pointer;
    /* Change cursor to pointer on hover */
    color: #FF4C4C;
}

.rekomendation::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 15px;
    background-color: #191B1D;
    border-top-left-radius: 5px;
    /* Rounded corners for the top left */
    border-bottom-left-radius: 5px;
    /* Rounded corners for the bottom left */
    margin-right: 10px;
    color: #FF4C4C;
}



.rekomendation.open {
    height: calc(100vh - 180px);
    /* Adjusted height based on header, footer, and nav */
    top: 100px;
    /* Positioning below the clickable nav part */
    color: #FF4C4C;
}



a {
    color: #FF4C4C;
}








.grid-container-about {
    display: grid;
    grid-template-areas:
        "header"
        "nav"
        "main-about"
        "footer";
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    background-color: #2E2F31;
}

.header-about {
    grid-area: header;
    background-color: #202122;

    padding: 10px;
    text-align: center;
    color: #FF4C4C;
}




.main-about {
    grid-area: main-about;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    color: #FF4C4C;
    background-color: #2E2F31;
}


.box-about {

    padding: 20px;
    border-radius: 5px;
    color: #FF4C4C;
    background-color: #2E2F31;
    border: 1px solid #FF4C4C;
    /* Red border */
}

.footer-about {
    grid-area: footer;
    background-color: #202122;
    color: #FF4C4C;
    padding: 10px;
    text-align: center;
}




@media only screen and (max-width: 767px) {
    .grid-container-about {
        grid-template-areas:
            "header"
            "main-about"
            "footer";
        grid-template-rows: auto 1fr auto;
        /* Header, Main Content, Footer */
        min-height: 100vh;
    }

}